
body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.home_wrapper {
  margin-top: 34px;
}
.home_wrapper img {
  width: 98%;
}
.gray-bg {
  height: 200px;
}

.h2.gray-bg {
  color: #00aeef;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

  // background: #5470c0;    light blue


