
body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.push_page_below_header {
  margin-top: 34px;
}
.home img {
  width: 90%;
}
.gray-bg {
  height: 200px;
}

.h2.gray-bg {
  color: #5470c0;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

  // background: #5470c0;    light blue


