@import "home";

.push_page_below_header {
  margin-top: 34px;
}

.title_and_filter {
  display: inline-block;
}

div.table {
    display:table;
    width: 100%;
}
div.table span {
    display:table-cell;
    text-align:left;
}
