@import "home";

.push_page_below_header {
  margin-top: 34px;
}
.navbar-buttons {
  float: right;
  padding: 12px 12px;
}
.row {
  display:inline;
}
.title_and_filter {
  display: inline;
}

// .responsive-table

table, th, td {
    table-layout: fixed;
    // not responsive for mobile
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 1px;
}

.wide {
  width: 133%;
}
.report-table tr td {
  text-align:center;
}
.report-table tbody tr:first-child th {
  text-align:center;
}
.report-table tbody tr:first-child th:first-child {
  text-align:left;
}

.report-buttons {
    margin-top: 30px;
    padding-right: 6px;
    padding-left: 6px;
}

// attempted to put report buttons inline
// .report-buttons ul{margin:0;padding:0}
// .report-buttons ul li{list-style-type:none;display:inline;padding:0}

// where is this styling being used?
// #table {
//     border: 2px dashed #444;
//     height: 20px;

//     text-align: justify;
//     -ms-text-justify: distribute-all-lines;
//     text-justify: distribute-all-lines;
// }

// .stretch {
//     width: 100%;
//     display: inline-block;
//     font-size: 0;
//     line-height: 0
// }

// ul.table {
//     display: table;
// }
// ul.table > li {
//     width: 270px;
//     height: 10px;
//     vertical-align: top;
//     display: inline-block;
// }
// ul.table.even {
//     width: 100%;
//     table-layout: fixed;
// }

// padding-right: 10px;

// for id="container"
