
  <!-- Force container below navbars -->

<div class="home-bg">
  <div class="container home push_page_below_header">
    <div class="row">
      <div class="col-xs-12 col-sm-6 home-catch-phrase">
        <p>Real-time monitoring for effective and timely delivery public health interventions at national scale </p>
      </div>

      <div class="hidden-xs col-sm-4 col-sm-offset-2 home-details">
        <p>Child Health Weeks are an important health-promoting strategy to deliver a package free to all eligible children and their mothers.</p><br>
        <p>Reaching even the most under-served areas and targeting every child in a community, Child Health Days deliver cost-effective healthcare. </p><br>
        <p>As a ‘one stop shop’, children receive vitamin A supplements to boost immunity and prevent blindness; de-worming tablets to treat parasitic infections and the iron-deficiency anemia they can cause.
        </p><br>
      </div>

    </div>
  </div>
</div>

<!--   <div class="blue-bg padded"-->
  <!-- Example of pure grid code without content -->
  <div class="gray-bg" style="background-color: #19191a;">
    <div class="container text-center" id="features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <!-- image_tag "paper.svg" -->

            <!-- <p>text</p> -->
          </div>
        </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <!-- <img src="analytics.svg"> -->
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <!-- <img src="paper.svg"> -->
          <h2><%= link_to "", "program_reports_path" %></h2>
          <!-- <p>text</p> -->
        </div>
      </div>
    </div>
  </div>


  <!-- Working Map with no sites marked -->
  <div id="map" "one-marker" style="width: 100%; height: 650px;"></div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript">

    var myLatlng = new google.maps.LatLng(-3.1753007,29.8553828);

    var myOptions = {
      zoom: 9,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [] // TODO: replace [] by array from https://snazzymaps.com/
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "Pop-over"
    });
  </script>


<!-- In controller -->
<!--     # DYNAMICALLY build the markers for the closest 10 castles.
    @markers = Gmaps4rails.build_markers(@castles[0..9]) do |castle, marker|
      marker.lat castle.latitude
      marker.lng castle.longitude

      marker.infowindow render_to_string(partial: "/castles/map_box", locals: {castle: castle})
    end
 -->
