
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Child Health Weeks</h1>
  <p>Population schedulable events for delivery of all preventative public health interventions </p>
  <div class="row">
    <div class="col-sm-8" style="background-color:lavender;">
      <%= image_tag "vas-02.jpg" %>
    </div>
    <div class="col-sm-4" style="background-color:lavenderblush;">
      <p>Child Health Days (CHDs) were introduced as a health-promoting strategy, initiated in Eastern and Southern Africa as an innovative way of delivering such a package free to all eligible children and their mothers. Reaching even the most under-served areas and targeting every child in a community, Child Health Days deliver cost-effective healthcare. As a ‘one stop shop’, children receive vitamin A supplements to boost immunity and prevent blindness; de-worming tablets to treat parasitic infections and the iron-deficiency anemia they can cause.</p>
    </div>
  </div>
</div>

</body>
</html>




