<!-- STATES INDEX PAGE -->
<!-- SHOWS ALL STATES OF COUNTRY -->


<h2>States</h2>

  <table >
    <% @states.each do |state| %>
    <tr>
      <th><%= state.state_name %> </th>
      <% state.stock_reports.each do |report| %>
        <td><%= report.id %></td>
      <% end %>


    </tr>
    <% end %>
  </table>




































