<!-- Districts#index -->

<div class="container push_page_below_header">
  <div class="row">
    <h2>District Index</h2>


    <div class="table">
      <table id='population-report-table'>
      <h3> District Target Populations Report </h3>
        <col span="1" class="wide">
        <tr>
          <th></th>
          <th>Vitamin A RED Target</th>
          <th>Vitamin A BLUE and Deworming Target</th>
          <th>Iron Supplementation</th>
        </tr>
        <tr>
          <th>Site</th>
          <th>Child Population (6-11 months)</th>
          <th>Child Population (12-59 months)</th>
          <th>Pregnant Women</th>
        </tr>
      <% @district.sites.each do |site| %>
        <tr>
          <td><%= link_to site.site_name, [site] %></td>
          <td><%= site.six_to_11_target_pop %></td>
          <td><%= site.twelve_to_59_target_pop %></td>
          <td><%= site.pregnant_woman_target_pop %></td>
        </tr>
      <% end %>
        <tr>
          <th>District Total </th>
          <th> Vitamin A Red Total </th>
          <th> Vitamin A Blue & Deworming Total </th>
          <th> Iron Folate Total </th>
        </tr>
      </table>
    </div>

  </div>
</div>

