<!-- header -->


<!-- StockReports#index -->

  <div class="container push_page_below_header">
    <div class="row">

      <h1>Stock Reports</h1>
      <p>
        <!-- district filter  -->

        <%= select_tag("district_id", options_for_select(@district_filter))%>
        <%= submit_tag("district_id") %>
      </p>

      <p>

        <form action="./" method="GET">
         <div align="right">
          <select name="district" onchange="this.form.submit();">
            <option>Select District</option>
            <option values= @district_filter)>district_id</option>
          </select>
         </div>
        </form>

      </p>




    </div>
  </div>


<!-- FILTER -->

<!-- footer -->



